snippet once
#pragma once
${0}
endsnippet

snippet sec "Catch2 section"
SECTION("${1}"){
	${2}
}
${0}
endsnippet

snippet tc "Catch2 test case"
TEST_CASE("${1}", "[${2}]"){
	${3}
}
${0}
endsnippet

snippet str
std::string
endsnippet

snippet req
REQUIRE(${1} == ${2});
${0}
endsnippet
